.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}
.logo-text {
    width: 100px;
}
.bi {
    margin-right: 8px;
}
.story {
    height: 70px;
    padding: 10px;
}
.dp {
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
}
.image {
    width: 300px;
}
.suggestions {
    width: 75%;
}
.suggestions h5 {
    font-size: 16px;
}
.suggestions .dp {
    margin-top: 0px !important;
}
.gradient-border {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #ff00ff,
    #ff6600,
    #ffcc00
  );
}
.story-dp {
    width: 50px;
}
.profile {
    width: 100px;
    height: 80px;
}
.messages {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.post-icons {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.search-image {
    width: 50px;
    height: 50px;
}
.bi {
    border-radius: 10px;
}
.reels-container::-webkit-scrollbar {
  display: none;
}

.reel-card video {
  transition: transform 0.3s ease;
}

.reel-card video:active {
  transform: scale(1.02);
}
img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.menu-item {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #3a3a3a;
}


